{{ 'section-ingredient.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- style -%}
  .c-ingredient .title {
    text-align: center;
    font-family: 'Gotham Rounded';
    font-weight: 400;
    font-size: 29px;
    line-height: 35px;
    color: #4F4F4F;
  }
  .c-ingredient .title-wrapper-with-link {
    justify-content: center;
    margin-bottom: 4em;
  }
  .c-ingredient__details {
    display: flex;
    justify-content: center;
    margin-bottom: 4em;
  }
  .c-ingredient__detail {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 220px;
    border-right: 1px solid #d9d9d9;
  }
  .c-ingredient__detail:last-child {
    border-right: none;
  }
  .c-ingredient__detail-number {
    font-family: 'Gotham Rounded';
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #4F4F4F;
  }
  span.c-ingredient__detail-title {
    font-family: 'Gotham Rounded';
    font-weight: 325;
    font-size: 16px;
    line-height: 19px;
    color: #4F4F4F;
  }
  .c-ingredient__nutritions {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }
  .c-ingredient__nutrition {
    position: relative;
    max-width: 290px;
    width: 290px;
  }
  .c-ingredient__nutrition-image img {
    border-radius: 8px;
    max-width: 100%;
  }
  .c-ingredient__nutrition-title {
    position: absolute;
    top: 12px;
    left: 16px;
    font-family: 'Gotham Rounded';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #4F4F4F;
  }
{%- endstyle -%}

{%- liquid
  assign columns_mobile_int = section.settings.columns_mobile | plus: 0
  assign show_mobile_slider = false
  if section.settings.swipe_on_mobile and section.blocks.size > columns_mobile_int
    assign show_mobile_slider = true
  endif
-%}

<div class="o-section__wrapper">
  <div class="page-width section-{{ section.id }}-padding isolate">
    <div class="c-ingredient">
      {%- unless section.settings.title == blank -%}
        <div class="title-wrapper-with-link title-wrapper--self-padded-mobile title-wrapper--no-top-margin">
          <h2 class="title {{ section.settings.heading_size }}">
            {{ section.settings.title | escape }}
          </h2>
        </div>
      {%- endunless -%}

      <div class="c-ingredient__details">
        {% if product.metafields.custom.calories %}
          <div class="c-ingredient__detail">
            <span class="c-ingredient__detail-number"> {{ product.metafields.custom.calories }} </span>
            <span class="c-ingredient__detail-title"> Calories </span>
          </div>
        {% endif %}
        {% if product.metafields.custom.protein %}
          <div class="c-ingredient__detail">
            <span class="c-ingredient__detail-number"> {{ product.metafields.custom.protein }} </span>
            <span class="c-ingredient__detail-title"> Protein </span>
          </div>
        {% endif %}
        {% if product.metafields.custom.carbohydrate %}
          <div class="c-ingredient__detail">
            <span class="c-ingredient__detail-number"> {{ product.metafields.custom.carbohydrate }} </span>
            <span class="c-ingredient__detail-title"> Carbohydrate </span>
          </div>
          {% endif %}
        {% if product.metafields.custom.cholesterol %}
          <div class="c-ingredient__detail">
            <span class="c-ingredient__detail-number"> {{ product.metafields.custom.cholesterol }} </span>
            <span class="c-ingredient__detail-title"> Cholesterol </span>
          </div>
        {% endif %}
        {% if product.metafields.custom.sodium %}
          <div class="c-ingredient__detail">
            <span class="c-ingredient__detail-number"> {{ product.metafields.custom.sodium }} </span>
            <span class="c-ingredient__detail-title"> Sodium </span>
          </div>
          {% endif %}
      </div>
      <div class="c-ingredient__nutritions">
        {% if product.metafields.custom.ingredient_1 or product.metafields.custom.ingredient_image_1 %}
          <div class="c-ingredient__nutrition">
            <div class="c-ingredient__nutrition-image"> 
              <img
                srcset="
                  {%- if product.metafields.custom.ingredient_image_1.width >= 750 -%}{{ product.metafields.custom.ingredient_image_1 | image_url: width: 750 }} 750w,{%- endif -%}
                  {%- if product.metafields.custom.ingredient_image_1.width >= 1070 -%}{{ product.metafields.custom.ingredient_image_1 | image_url: width: 1070 }} 1070w,{%- endif -%}
                  {%- if product.metafields.custom.ingredient_image_1.width >= 1500 -%}{{ product.metafields.custom.ingredient_image_1 | image_url: width: 1500 }} 1500w,{%- endif -%}
                  {{ product.metafields.custom.ingredient_image_1 | image_url }} {{ product.metafields.custom.ingredient_image_1.width }}w"
                src="{{ product.metafields.custom.ingredient_image_1 | image_url: width: 1500 }}"
                sizes="(min-width: 1500px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                alt="{{ product.metafields.custom.ingredient_image_1.alt | escape }}"
                loading="lazy"
                width="{{ product.metafields.custom.ingredient_image_1.width }}"
                height="{{ product.metafields.custom.ingredient_image_1.height }}"
              >
            </div>
            {%- if product.metafields.custom.ingredient_1 -%}
            <div class="c-ingredient__nutrition-title"> {{ product.metafields.custom.ingredient_1 }} </div>
            {% endif %}
          </div>
        {% endif %}
        {% if product.metafields.custom.ingredient_2 or product.metafields.custom.ingredient_image_2 %}
          <div class="c-ingredient__nutrition">
            <div class="c-ingredient__nutrition-image"> 
              <img
                srcset="
                  {%- if product.metafields.custom.ingredient_image_2.width >= 750 -%}{{ product.metafields.custom.ingredient_image_2 | image_url: width: 750 }} 750w,{%- endif -%}
                  {%- if product.metafields.custom.ingredient_image_2.width >= 1070 -%}{{ product.metafields.custom.ingredient_image_2 | image_url: width: 1070 }} 1070w,{%- endif -%}
                  {%- if product.metafields.custom.ingredient_image_2.width >= 1500 -%}{{ product.metafields.custom.ingredient_image_2 | image_url: width: 1500 }} 1500w,{%- endif -%}
                  {{ product.metafields.custom.ingredient_image_2 | image_url }} {{ product.metafields.custom.ingredient_image_2.width }}w"
                src="{{ product.metafields.custom.ingredient_image_2 | image_url: width: 1500 }}"
                sizes="(min-width: 1500px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                alt="{{ product.metafields.custom.ingredient_image_2.alt | escape }}"
                loading="lazy"
                width="{{ product.metafields.custom.ingredient_image_2.width }}"
                height="{{ product.metafields.custom.ingredient_image_2.height }}"
              >
            </div>
            {%- if product.metafields.custom.ingredient_2 -%}
              <div class="c-ingredient__nutrition-title"> {{ product.metafields.custom.ingredient_2 }} </div>
            {% endif %}
            </div>
        {% endif %}
        {% if product.metafields.custom.ingredient_3 or product.metafields.custom.ingredient_image_3 %}
          <div class="c-ingredient__nutrition">
            <div class="c-ingredient__nutrition-image"> 
              <img
                srcset="
                  {%- if product.metafields.custom.ingredient_image_3.width >= 750 -%}{{ product.metafields.custom.ingredient_image_3 | image_url: width: 750 }} 750w,{%- endif -%}
                  {%- if product.metafields.custom.ingredient_image_3.width >= 1070 -%}{{ product.metafields.custom.ingredient_image_3 | image_url: width: 1070 }} 1070w,{%- endif -%}
                  {%- if product.metafields.custom.ingredient_image_3.width >= 1500 -%}{{ product.metafields.custom.ingredient_image_3 | image_url: width: 1500 }} 1500w,{%- endif -%}
                  {{ product.metafields.custom.ingredient_image_3 | image_url }} {{ product.metafields.custom.ingredient_image_3.width }}w"
                src="{{ product.metafields.custom.ingredient_image_3 | image_url: width: 1500 }}"
                sizes="(min-width: 1500px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                alt="{{ product.metafields.custom.ingredient_image_3.alt | escape }}"
                loading="lazy"
                width="{{ product.metafields.custom.ingredient_image_3.width }}"
                height="{{ product.metafields.custom.ingredient_image_3.height }}"
              >
            </div>
            {%- if product.metafields.custom.ingredient_3 -%}
              <div class="c-ingredient__nutrition-title"> {{ product.metafields.custom.ingredient_3 }} </div>
            {% endif %}
          </div>
        {% endif %}
        {% if product.metafields.custom.ingredient_4 or product.metafields.custom.ingredient_image_4 %}
          <div class="c-ingredient__nutrition">
            <div class="c-ingredient__nutrition-image"> 
              <img
                srcset="
                  {%- if product.metafields.custom.ingredient_image_4.width >= 750 -%}{{ product.metafields.custom.ingredient_image_4 | image_url: width: 750 }} 750w,{%- endif -%}
                  {%- if product.metafields.custom.ingredient_image_4.width >= 1070 -%}{{ product.metafields.custom.ingredient_image_4 | image_url: width: 1070 }} 1070w,{%- endif -%}
                  {%- if product.metafields.custom.ingredient_image_4.width >= 1500 -%}{{ product.metafields.custom.ingredient_image_4 | image_url: width: 1500 }} 1500w,{%- endif -%}
                  {{ product.metafields.custom.ingredient_image_4 | image_url }} {{ product.metafields.custom.ingredient_image_4.width }}w"
                src="{{ product.metafields.custom.ingredient_image_4 | image_url: width: 1500 }}"
                sizes="(min-width: 1500px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                alt="{{ product.metafields.custom.ingredient_image_4.alt | escape }}"
                loading="lazy"
                width="{{ product.metafields.custom.ingredient_image_4.width }}"
                height="{{ product.metafields.custom.ingredient_image_4.height }}"
              >
            </div>
            {%- if product.metafields.custom.ingredient_4 -%}
              <div class="c-ingredient__nutrition-title"> {{ product.metafields.custom.ingredient_4 }} </div>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Ingeredient",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Ingeredient",
      "label": "ingeredient"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Ingeredient"
    }
  ]
}
{% endschema %}
